<h2>Objetivo geral da demanda:</h2>
<%= @object.description.html_safe %>

<script>
    $(document).ready(function(){
        $('img').addClass('img-thumbnail thumbnails');
        $(".logo-all").removeClass('img-thumbnail thumbnails');
        $(".no-thumb").removeClass('img-thumbnail thumbnails');
    })
</script>