<h2>Avaliação:</h2>
<p>A avaliação dos projetos é primariamente realizada pela empresa que iniciou o processo de demanda.<br>
Desta forma, cada detalhe referente a maneira, prazos e aptidões necessárias para realização deste projeto encontram-se na sessão de <font style="color: red;"><b>Regras.</b></font></p>

O ranking da plataforma é mensurado a partir da relação das notas das avaliações com a quantidade de avaliações válidas entregues. É de suma importância que você entenda as regras deste desafio para prosseguir<br>
Para ver as regras, utilize o menu ao lado.