<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>E-mail</th>
              <th>Título</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
              <% cont = 0 %>
            <% @object.entrega.all.each do |commit| %>
                
                    <tr>
                      <td><%= cont += 1 %>°</td>
                      <td><%= User.find(commit.user_id).email %></td>
                      <td><%= commit.title %></td>
                      <td><%= commit.status %></td>
                    </tr>
            <%end%>
     </tbody>
    </table>
    </div>
</div>